<header class="header clearfix phm pvs">
  <div class="layout">
    <div class="pull-left _2pi3">
        <p>
          <span class="title-icon">☎&nbsp;</span><strong>QUANG VIEN:</strong> <strong>0163 6556 937</strong> -
          <span class="title-icon">☎&nbsp;</span><strong>GUARANTEE:</strong></span> <strong>0935 3435 14</strong>
        </p>
    </div>
    <div class="center _2pi3">
      <span class="slogan">
        <p>Dedicated from the first touch</p>
      </span>
    </div>
  </div>
</header>

<div class="navigation mbm">
  <div class="navigation-content layout clearfix">
    <div class="nav-mainmenu-content">
      <li class="level_1  dropdown">
        <span>
          <%= link_to " Users", admin_users_path, class: "glyphicon glyphicon-th-large" %>
        </span>&nbsp;
      </li>
      <li class="level_1  dropdown">
        <span>
          <%= link_to " Products", admin_products_path, class: "glyphicon glyphicon-tasks" %>
        </span>&nbsp;
      </li>
      <li class="level_1  dropdown">
        <span>
          <%= link_to " Type Color", admin_type_colors_path, class: "glyphicon glyphicon-th-list" %>
        </span>&nbsp;
      </li>
      <li class="level_1  dropdown">
        <span>
          <%= link_to " Register Account", sign_up_path, class: "glyphicon glyphicon-pencil"%>
        </span>&nbsp;
      </li>

      <% if logged_in? %>
      <li class="level_1  dropdown">
        <span>
          <%= link_to " LOGOUT", destroy_user_session_path, class: "glyphicon glyphicon-log-out", method: "delete" %>
        </span>&nbsp;
      </li>
      <% else %>
      <li class="level_1  dropdown">
          <span>
            <%= link_to " LOGIN", sign_in_path, class: "glyphicon glyphicon-log-out", class: "glyphicon glyphicon-check" %>
          </span>&nbsp;
      </li>
      <% end %>
    </div>
  </div>
</div>
        <!-- <li class="level_1  dropdown">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="glyphicon glyphicon-list-alt"></span>
                  Account <b class="caret"></b>
            </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile" %></li>
                <li><%= link_to "Settings" %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          </li> -->
