<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
  </style>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>


<header class="header clearfix phm ptl pbs">
  <div class="layout">
    <div class="pull-left">
        <p>
          <span class="title-icon">☎&nbsp;</span><strong>Nhan Vien:</strong></span> <strong>0163.6556.937</strong> -
          <span class="title-icon">☎&nbsp;</span><strong>Guarantee:</strong></span> <strong>0935.343514&nbsp;</strong>
        </p>
    </div>
    <div class="center">
      <span class="slogan">
        <p>Dedicated from the first touch</p>
      </span>
    </div>
    <div class="pull-right">
      <div class="pull-left">
        <div class="mainmenu">
          <ul class="clearfix">
            <li class="menu-item">
              <%= link_to "Introduce", post_introduce_path, title:"Introduce", class:"menu-name" %>
            </li>
            <li class="menu-item">
              <%= link_to "News", post_index_path, title:"News", class:"menu-name" %>
            </li>
            <li class="menu-item">
              <%= link_to "Contact", post_contact_path, title:"Contact", class:"menu-name" %>
            </li>
            <li class="menu-item">

              <% if logged_in? %>
                  <a href="#" class="menu-name" data-toggle="dropdown">
                    <% unless current_user.avatar.url.nil?%>
                      <%= image_tag(current_user.avatar.thumb.url, class: 'img-circle fa-3x', size: "20x20")%>
                    <% else%>
                      <%= image_tag(current_user.avatar.url, class: "fa fa-user-circle-o")%>
                    <% end%>
                    <%= current_user.name%>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "Profile", admin_user_path(current_user.id) %></li>
                    <li><%= link_to "Setting",  edit_admin_user_path(current_user.id) %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to " LOGOUT", destroy_user_session_path, class: "glyphicon glyphicon-log-out", method: "delete" %>
                    </li>
                  </ul>
              <% else %>
                  <%= link_to " LOGIN", sign_in_path, class:"menu-name" %>
              <% end %>
              </li>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="subnavigation">
  <div class="subnavigation__content layout">
    <div class="col__left col__table">
      <%= link_to root_path, title:"didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc" do %>
        <%= image_tag("IPHONE2.png", size: "60x60", alt: "didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc", class: "logo") %>
        <strong>NHAN VIEN</strong>
      <% end %>
    </div>
    <div class="col__right col__table">
      <div class="mainmenu mainmenu__icon">
        <div class="menu__item">
          <div class="iconbox"><i class="fa fa-life-ring"></i></div>
          <div class="contentbox">
            <h4>
              <a href="#" title="Hỏi đáp" rel="dofollow">
                <span>Hỏi đáp</span>
              </a>
            </h4>
            <small>Mua hàng online</small>
          </div>
        </div>
        <div class="menu__item">
          <div class="iconbox"><i class="fa fa-refresh"></i></div>
          <div class="contentbox">
            <h4>
              <a href="#" title="Đổi trả hàng" rel="dofollow">
                <span>Đổi trả hàng</span>
              </a>
            </h4>
            <small>lên tới 45 ngày</small>
          </div>
        </div>
        <div class="menu__item">
          <div class="iconbox"><i class="fa fa-truck"></i></div>
          <div class="contentbox">
            <h4>
              <a href="#" title="Miễn phí" rel="">
                <span>Miễn phí</span>
              </a>
            </h4>
            <small>Vận chuyển toàn quốc</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navigation mbm">
  <div class="navigation-content layout clearfix">
    <div class="pull-left">
      <div class="nav-mainmenu-content">
        <% @categories.each do |category| %>
          <li class="level_1  dropdown">
            <a href="#" title="<%= category.name %>" rel="dofollow">
              <span class="btn-info iconbox"><i class="<%= category.icon %>"></i></span>&nbsp;<%= category.name %>
            </a>
            <span class="arrow_box" style="margin: 0 50px;"></span>
            <ul role="menu" class="dropdown-menu">
              <li>
                <% category.sub_categories.each do |sub_category| %>
                <a href="#" title="<%= sub_category.name %>" rel=""><%= sub_category.name %></a>
                <% end %>
              </li>
            </ul>
          </li>
        <% end %>
      </div>
    </div>
      <div id="oc-column-right">
          <div class="block_search_news search_news- search_news_ block">
            <%= search_form_for @q_product, :url => searchs_index_path, :html => {:method => :get} do |f| %>
            <div id="imaginary_container">
              <div class="input-group">
                <%= f.text_field :name_cont, placeholder: "Search products"%>
                <button class="searchbt"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
            <% end %>
          </div>
        </div>
  </div>
</div>


</body>
</html>