<h1>Listing Posts</h1>
<%= will_paginate @posts %>
<table class="table table-striped">
<tr>
  <th>Author</th>
  <th>Title</th>
  <th>Content</th>
  <th>Name's Sub Category</th>
  <th>Action</th>
</tr>
  <% @posts.each do |post| %>
    <tr>
      <th><%= link_to post.user.name, admin_user_path(post.user.id) %></th>
      <th><%= post.title%></th>
      <th><%= post.content%></th>
      <td><%= post.sub_category.name unless post.sub_category.nil? %></td>
      <div class="btn btn-group">
        <th>
          <%= link_to "Show", admin_post_path(post.id), class: "btn btn-primary" %>
          <% if current_user.admin? %>
            <%= link_to "Edit", edit_admin_post_path(post.id), class: "btn btn-warning" %>
            <%= link_to "Delete", admin_post_path( post.id), class: "btn btn-danger", method: :delete%>
          <% end %>
        </th>
      </div>
    </tr>
  <%end%>
</table>
<%= will_paginate @posts %>
<br>
<%= link_to 'New Post', new_admin_post_path, class: "btn btn-info" %>
