<style type="text/css">
  #cart {
    padding: 10px;
    /*background-color: yellow;*/
    border-radius: 8px;
    border: 2px solid #FF8B00;
  }
  .count {
    padding: 4px 8px;
    background-color: #FF8B00;
    /*font-size: 26px;*/
    border-radius: 5px;
  }
</style>
<div class="well">

  <div class="row">
    <div class="col-xs-8">
      <h4><%= product.name %> <%=  product.type_colors.first.name %></h4>
      <h4><%= link_to image_tag(product.type_colors.first.picture.url, :height => "300", :crop => :fill), product_path(product) if product.type_colors.first.picture? %></h4>
    </div>
    <div class="col-xs-4">

      <i id="cart" class="fa fa-opencart fa-2x"> My Cart: <span class="count"><%= order_item.quantity.to_i%><span></i>
      <%= form_for :order_item, url: order_item, method: :put do |f| %>
        <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency order_item.product.price %></span></h4>
        <div class="row">
          <div class="col-xs-4">
            <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1 %>
            <%= f.hidden_field :product_id, value: product.id %>
          </div>
          <div class="col-xs-8 text-right">
            <div class="btn-group">
              <%= f.submit "Update Quantity", class: "btn btn-primary" %>
              <%= link_to "Delete", order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } %>
            </div>
          </div>
        </div>
        <h4 class="text-right">Total Price: <span style="color: green"><%= number_to_currency (order_item.quantity.to_i)*(order_item.product.price.to_i) %></span></h4>
      <% end %>
    </div>

  </div>
</div>