<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css">
  .index {
    overflow: auto;  similar to clearing the floats...
    border: 1px solid gray;
    padding: 0px;
    margin-right: 10px;
  }
  h1 {
    color: #FF8B00;
    font-weight: bold;
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
stylish-input-group .input-group-addon{
    background: white !important;
}
  </style>
</head>
<body>
  <div class="layout main_wrapper _2pi4 mbl">

    <div class="breadcrumbs mbm">
      <div class="breadcrumb clearfix" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <h2 class="breadcumbs-first flever_12">
          <a title="didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc" href="http://didongthongminh.vn/" rel="nofollow" itemprop="url">Trang chủ</a>
        </h2>
        <div class="breadcrumbs_sepa">&gt;</div>
        <h2><a href="javascript:void(0)" itemprop="url"><span itemprop="title">Tin tức</span></a></h2>
        <div class="clear"></div>
      </div>
    </div>

    <div class="main-column  main-colum-left">
      <h3 class="content_title"><span>News</span></h3>
      <div class="related-articles">
        <div class=" main-column  main-colum-left">
          <div class="related-articles">
            <ul class="index">
              <% @post.each do |post| %>
                <li class="item">
                  <div class="image"><%= link_to (image_tag post.image.url, :height => "200", :width => "410", :crop => :fill), admin_post_path(post.id) %></div>
                  <div class="title"><%= post.title %></div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>

        <div id="oc-column-right">
          <div class="block_search_news search_news- search_news_ block">
            <%= search_form_for @q, :url => search_post_index_path, :html => {:method => :get} do |f| %>
              <!-- <h1 style="color: #FF8B00">%= f.label :search_news %></h1> -->
              <h1>Search news</h1>
              <div id="imaginary_container">
              <div class="input-group stylish-input-group">
              <%= f.text_field :title_or_content_cont, placeholder: "Search news", class: "search_news_btn"%>
              <button class="searchbt"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
            <% end %>
          </div>
        <h1>Related products</h1>
        </div>
      </div>

      <div class="main-column  main-colum-left">
        <div class="related-articles">
          <div class="menu-news">
            <ul class="nav nav-tabs news_menu  news_menu-default">
              <li class="item  level_0 first-item  " id="pr_38"><a href="http://didongthongminh.vn/danh-muc-tin/san-pham-moi-reviews.html"><span>Tin mới nhất</span></a>
              </li>
              </li><li class="item  level_0 first-item  " id="pr_40"><a href="http://didongthongminh.vn/danh-muc-tin/huong-dan-mua-hang.html"><span>Hướng dẫn mua hàng</span></a>
              </li>
              </li><li class="item  level_0 first-item  " id="pr_49"><a href="http://didongthongminh.vn/danh-muc-tin/tin-khuyen-mai.html"><span>Tin Khuyến Mãi</span></a>
              </li><li class="item  level_0 first-item  " id="pr_74"><a href="http://didongthongminh.vn/danh-muc-tin/ban-tin-cong-nghe.html"><span>Bản tin công nghệ</span></a>
              </li><li class="item  level_0 first-item  " id="pr_61"><a href="http://didongthongminh.vn/danh-muc-tin/huong-dan-ki-thuat.html"><span>Hướng dẫn kĩ thuật</span></a>
              </li><li class="item  level_0 first-item  " id="pr_64"><a href="http://didongthongminh.vn/danh-muc-tin/tin-hoat-dong.html"><span>Tuyển dụng</span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-column  main-colum-left">
        <div class="related-articles">
          <div class=" main-column  main-colum-left">
            <% @posts.each do |post| %>
              <ul class="index">
                <h2><%= post.title%></h2>
                <p><%= post.created_at.time %>, Poster: <b><%= link_to post.user.name, admin_user_path(post.user.id)%></b></p>
                <div align="middle"><%= link_to (image_tag post.image.url, width: "600", crop: :fill), admin_post_path(post.id) %></div>
                <br>
                <p><%= post.content%></p>
                <hr style="border: 0.5px dashed #808080" />
              </ul>
            <%end%>
            <%= will_paginate @posts %>
          </div>
          <%= link_to "Back", :back, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>