<div class="">
<% @product.product_comments.order("created_at DESC").each do |comment|%>
<% binding.pry%>
  <h2><%= comment.content %></h2>
  <strong><%= comment.user.name %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %>

<blockquote>
  <p><%= comment.content %></p>
</blockquote>

<% from_reply_form ||= nil %>
<% unless from_reply_form %>
  <!-- % if comment.leaf? %> -->
    <small class="text-muted">There are no replies yet - be the first one to reply!</small>
  <!-- % end %> -->
  <p><%= link_to 'reply', "new_comment_path(comment.id)" %></p>
<% end %>
<% end %>
</div>