<div class="well">

  <div class="row">
    <div class="col-xs-8">
    <!-- % binding.pry %> -->
      <h4><%= product.name %> <%=  product.type_colors.first.name %></h4>
      <h4><%= link_to image_tag(product.type_colors.first.picture.url, :height => "300", :crop => :fill), product_path(product) if product.type_colors.first.picture? %></h4>
    </div>
    <div class="col-xs-4">

      <%= form_for :order_item, url: order_items_path, method: :post do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1, max: 20 %>
          <div class="input-group-btn">
            <%= f.hidden_field :product_id, value: product.id %>
            <%= f.submit "Add to Cart", class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>