<style type="text/css">
  .comment_form {
    font-weight: normal;
  }
  h1 {
    color: #FF8B00;
    font-weight: bold;
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  /*.index {
    overflow: auto;
    padding: 0px;
    margin-right: 10px;
}*/
.content {
  padding: 0px 40px;
}
.comment {
  padding: 5px 0;
}
li {
  padding: 10px;
  display: inline;
}
#admin {
  background-color: #FF8B00;
  color: white;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 3px;
}
</style>
<div class="layout main_wrapper _2pi4 mbl">
  <div class="breadcrumbs mbm">
    <div class="breadcrumb clearfix">
      <h2><a>Home</a></h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><a><%= @product.sub_category.category.name %></a></h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><a><%= @product.sub_category.name %></a></h2>
      <div class="breadcrumbs_sepa">&gt;</div>
      <h2><span><%= @product.name %></span></h2>
    </div>
  </div>
  <div class="main-full-column">
    <div class="product heading row mbl">
      <div class="col-left col-md-3">
        <h1><%= @product.name %> <%= @product.type_colors.first.name %></h1>
        <p class="basic_price"> <%= @product.price %> USD</p>
        <p><a class="status_store"> (Gọi giữ hàng - 1234.5678) </a></p>
      </div>

      <div class="col-right col-lg-9">
        <div class="controll-wap clearfix">
          <div class="controll-price clearfix colorStore ">

            <div class="left">
              <div class="textlabel "><span>Chọn màu sắc: </span></div>
              <div class="select-box">
                <label class="checkbox-inline">
                  <input id="s_fac" type="checkbox" value="" class="sev_check">
                </label>
                <label class="checkbox-inline">
                  <input id="s_fac" type="checkbox" value="" class="sev_check">
                </label>
                <label class="checkbox-inline">
                  <input id="s_fac" type="checkbox" value="" class="sev_check">
                </label>
              </div>
            </div>

            <div class="center">
              <div class="textlabel"><span>Chọn bảo hành:</span></div>
              <div class="select-box2 mbm">
                <select name="warranty" class="boxwarranty" onchange="load_quick(this)">
                  <option value="2" data-price="0" data-type="warranty" selected="">1 tháng phần cứng, không nguồn, màn, vân tay (Free) </option>
                  <option value="3" data-price="300000" data-type="warranty">6 tháng cả nguồn, màn, vân tay (300.000 vnđ)</option>
                  <option value="4" data-price="600000" data-type="warranty">12 tháng cả nguồn, màn, vân tay, rơi móp (600.000 vnđ)</option>
                </select>
              </div>
            </div>
            <div class="right">
              <div class="controll-price clearfix">
                <div class="textlabel"><span>Chọn Bộ nhớ:</span></div>
                <div class="select-box">
                  <select class="boxattribute_0" name="attributeX[455388]" onchange="load_quick(this)">
                  <option class="lt" value="0" data-price="0" data-type="attribute" data-stt="0" selected="">16GB (mặc định)</option>
                  <option class="lt" value="2" data-price="+1300000" data-type="attribute" data-stt="0">64GB</option>
                  <option class="lt" value="3" data-price="+1800000" data-type="attribute" data-stt="0">128GB</option>
                            </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-btn col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a id="mua" href="#quick_order" class="btn  btn-buy col-lg-6" data-toggle="modal">
             Mua ngay
              <span>(Mua hàng trực tuyến)</span>
            </a>
          </div>
          <div class="col-btn col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <a id="ban" href="javascript: instalment('http://didongthongminh.vn/tra-gop.html')" class="btn  btn-instalment">
                    Trả góp từ 1.000.000 vnđ
          <span>(Lãi suất &lt; 5%)</span>
              </a>
          </div>
        </div>
      </div>




      <div class="col-right col-md-9">
      </div>
    </div>
    <div class="product row mbm">
      <div class="leftimg col-md-6">
        <div class="product-image">
          <%= link_to image_tag @product.type_colors.first.picture %>
        </div>

        <div class="list-product-image">
          <% @product.type_colors.each do |type_color| %>
            <%= image_tag type_color.picture, class: "image"%>
          <% end %>
        </div>
        <hr>
        <div class="col-xs-4">
          <%= form_for :order_item, url: order_items_path, method: :post do |f| %>
            <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span></h4>
            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
                <%= f.hidden_field :product_id, value: @product.id %>
                <%= f.submit "Add to Cart", class: "btn btn-warning" %>
              </div>
            </div>
            <% end %>
        </div>
      </div>
      <div class="righttext col-md-6">
        <div class="righttext  col-lg-6">
          <div class="accessories mbm">
            <label>Quà khuyến mãi:</label><br>
            <p>✌ Tặng kèm <span style="color:#ff8c00"><strong>sạc, cable quickchager samsung chuẩn</strong></span> trị giá <span style="color:#ff0000"><strong>350K</strong></span><br>
            ✌ Tặng kèm<span style="color:#ff8c00"><strong> tai nghe Samsung Galaxy S7</strong></span>&nbsp;trị giá <span style="color:#ff0000"><strong>150K</strong></span><br>
            <span style="color:#ffa07a">✌</span><strong> </strong>Tặng <span style="color:#ff8c00"><strong>combo ốp lưng &amp; dán dẻo&nbsp;</strong></span>khi mua <strong><span style="color:#ff0000">gói bảo hành Dcare+<br>
            <strong><span style="color:#ff0000">♥</span>&nbsp;</strong>Hỗ trợ <span style="color:#ff8c00"><strong>mua kính thực tế ảo Samsung Gear VR</strong></span> chỉ <span style="color:#ff0000"><strong>600K</strong></span><br>
            <span style="color:#ff0000">♥</span> Hỗ trợ mua <strong><span style="color:#ff8c00">combo ốp lưng, dán dẻo</span></strong> chỉ <span style="color:#ff0000"><strong>200k </strong></span><br>
            <span style="color:#ff0000">♥&nbsp;</span>Trợ giá<span style="color:#ff8c00"><strong>&nbsp;thẻ nhớ 16G class 10</strong></span>&nbsp;giá&nbsp;<span style="color:#ff0000"><strong>250K&nbsp;</strong></span><br>
            <span style="color:#ff0000">♥</span>&nbsp;Trợ giá&nbsp;<span style="color:#ff8c00"><strong>PDP Xiaomi 16.0000mah</strong></span>&nbsp;chỉ&nbsp;<span style="color:#ff0000"><strong>499K&nbsp;</strong></span><br>
            <span style="color:#ff0000">♥</span><span style="color:#ff8c00">&nbsp;</span>Trợ giá <strong><span style="color:#ff8c00">Loa Xiaomi Square Box 2</span></strong> chỉ <span style="color:#ff0000"><strong>690K</strong></span><br>
            <span style="color:#ff0000">♥</span>&nbsp;Trợ giá&nbsp;<span style="color:#ff8c00"><strong>PDP Xiaomi chính hãng 10.000mAh Gen 2 (Sạc nhanh 2 chiều)</strong></span>&nbsp;chỉ&nbsp;<span style="color:#ff0000"><strong>329K</strong></span><br>
          </div>
          <div class="policysale">
            <span style="font-size:14px">✓&nbsp;</span><span style="color:#ff8c00"><strong>Đổi trả sản phẩm lỗi miễn phí trong 15 ngày</strong></span> -<span style="color:#0000ff"><em> </em></span><a href="#"><em><span style="color:#0000ff">Tìm hiểu.</span></em></a><br>
            <span style="font-size:14px">✓&nbsp;</span><span style="color:#ff8c00"><strong>Giao hàng toàn quốc miễn phí</strong></span> - <a href="#"><em><span style="color:#0000ff">Tìm hiểu.</span></em></a><br>
            <span style="font-size:14px">✓&nbsp;</span><span style="color:#ff8c00"><strong>Hỗ trợ thanh toán qua thẻ</strong></span> - <a href="#"><span style="color:#0000ff"><em>Tìm hiểu.</em></span></a></p>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="comment_form">
      <div class="comments">
        <label for="content">Comment :</label>
        <p style="color:red">You must login to comment...</p>
        <div class="form_comment">
          <%= form_for :product_comment, url: product_comments_path, method: :post do |f| %>
            <%= f.text_area :content, id:"content", name: "content", placeholder: "Create your comment...", style: "height:100px"%>
            <%= f.hidden_field :name, placeholder: "Your name(enforce)..", class: "form-control"%>
            <%= f.hidden_field :email, placeholder: "Email..", class: "form-control"%>
            <%= f.hidden_field :product_id, value: "#{@product_show.id}", placeholder: "product_id.. ", class: "form-control"%>
            <%= f.button "SEND", value: "send", class: "submit_contact"%>
          <% end%>
        </div>
      </div>

      <div class="info_comment">
        <div class="title_note">Lưu ý: Chỉ những tài khoản có biểu tượng Quản trị viên mới là đại diện của chúng tôi trả lời khách hàng.</div>
        <div class="count_comment">
          <h3 style="color: #FF8B00">Comment (<%= @product_show.product_comments.size%>)
          </h3>
        </div>
        <div class="contents">
          <div class="item_comment">
            <% @product_show.product_comments.order("created_at DESC").each do |product_show|%>
              <div class="comment">
                <span class="name">
                  <% unless product_show.user.avatar.url.nil?%>
                    <%= image_tag(product_show.user.avatar.url, class: 'img-circle fa-3x',size: "30x30")%>
                  <% else%>
                    <%= image_tag(product_show.user.avatar.url, class: "fa fa-user-circle-o fa-2x")%>
                  <% end%>
                <strong><%= product_show.user.name%></strong>
                <% if product_show.user.admin?%>
                  <i id="admin">ADMIN</i>
                <% end %>
                </span>
                <div class="content"><%= product_show.content%></div>
                  <div>
                    <ul class="action">
                      <div id="edit_comment_form">
                        <%= form_for :post_comment, url: post_comment_path(product_show.id), method: :put do |f| %>
                          <%= f.text_area :content, id:"content", name: "content", style: "height:50px"%>
                          <%= f.button "Update", value: "update", class: "edit_comment_btn"%>
                        <% end%>
                      </div>
                      <li>
                        <a href=""><span class="glyphicon glyphicon-share"></span>Reply</a>
                      </li>
                      <li>
                        <a href=""><span class="glyphicon glyphicon-thumbs-up"></span>Like</a>
                      </li>
                      <li class="edit">
                        <%= link_to 'Edit', edit_post_comment_path(product_show.id), class: "glyphicon glyphicon-edit", id: "edit_comment_btn"%>
                      </li>
                      <% if can? :update, @user%>
                        <li class="delete"><%= link_to 'Delete', post_comment_path(id: product_show.id), data: {confirm: "Are you sure?"}, method: :delete, class: "glyphicon glyphicon-trash"%></li>
                      <% end%>
                      <li class="time_comment">
                        <% if product_show.created_at > Time.now.beginning_of_day %>
                          <%="#{time_ago_in_words(product_show.created_at)} ago"%>
                        <% else %>
                          <%= product_show.created_at.strftime("%b %d, %Y") %>
                        <% end %>
                      </li>


                    </ul>
                  </div>
                </div>
              <% end%>
            </div>

    </div>
  </div>
</div>
