<div class="layout main_wrapper">
  <h1>Show Product</h1>
  <h4>Name: <%= link_to @product.name%></h4>
  <h4>Color: <%= @product.type_colors.first.name%></h4>
  <h4>Price: <%= @product.price%></h4>
  <h4>Made in: <%= @product.made_in%></h4>
  <h4>Screen_size: <%= @product.screen_size%></h4>
  <h4>Image: <%= link_to image_tag(@product.type_colors.first.picture.url, :height => "150", :crop => :fill), admin_product_path(@product.id) if @product.type_colors.first.picture? %></h4>


  <%= link_to "Back", :back, class: "btn btn-primary"%>
  <% if current_user.admin? %>
    <%= link_to "Edit", edit_admin_product_path(@product.id), class: "btn btn-warning" %>
    <%= link_to "Delete", admin_product_path(@product.id), class: "btn btn-danger", method: :delete%>
  <% end %>
</div>
