<style type="text/css">
  h1 {
    color: #FF8B00;
    font-weight: bold;
    font-size: 32px;
  }
  h2 {
    font-size: 20px;
    font-weight: bold;
  }
  .index {
    overflow: auto;
    padding: 0px;
    margin-right: 10px;
}
.content {
  padding: 0px 40px;
}
#reply_content {
  height: 40px;
  border-radius: 18px;
}
.comment {
  padding: 5px 0;
}
li {
  padding: 10px;
  display: inline;
}
#admin {
  background-color: #FF8B00;
  color: white;
  font-weight: bold;
  padding: 3px 6px;
  border-radius: 3px;
}
.form_reply {
    padding-left: 20px;
    border-radius: 20px;
  }
blockquote {
  font-size: 14px;
}

</style>

<div class="layout main_wrapper _2pi4 mbl">
  <div class="breadcrumbs mbm">
      <div class="breadcrumb clearfix" itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <h2 class="breadcumbs-first flever_12">
          <a title="didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc" href="http://didongthongminh.vn/" rel="nofollow" itemprop="url">Trang chủ</a>
        </h2>
        <div class="breadcrumbs_sepa">&gt;</div>
        <h2><a href="javascript:void(0)" itemprop="url"><span itemprop="title">Tin tức</span></a></h2>
        <div class="clear"></div>
      </div>
    </div>

    <div class="main-column  main-colum-left">
      <h3 class="content_title"><span>News</span></h3>
      <div class="related-articles">
        <div class=" main-column  main-colum-left">
          <div class="related-articles">
            <ul class="index">
              <% @post.each do |post| %>
                <li class="item">
                  <div class="image"><%= link_to (image_tag post.image.url, :height => "200", :width => "410", :crop => :fill), post_path(post.id) %></div>
                  <div class="title"><%= post.title %></div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

        <div id="oc-column-right">
          <div class="block_search_news search_news- search_news_ block">
            <%= search_form_for @q, :url => post_search_path, :html => {:method => :get} do |f| %>
              <h1>Search news</h1>
              <div id="imaginary_container">
              <div class="input-group stylish-input-group">
              <%= f.text_field :title_or_content_cont, placeholder: "Search news", class: "search_news_btn"%>
              <button class="searchbt"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
            <% end %>
          </div>
        <h1>Related products</h1>
        </div>
      </div>


      <div class="main-column  main-colum-left">
        <div class="related-articles">
          <div class=" main-column  main-colum-left">
            <ul class="index">
              <h2><%= @post_show.title%></h2>
              <p><%= @post_show.created_at.time %>, Poster: <b><%= link_to @post_show.user.name, admin_user_path(@post_show.user.id)%></b></p>
              <div align="middle"><%= link_to (image_tag @post_show.image.url, width: "600", crop: :fill), post_path(@post_show.id) %></div>
              <br>
              <p><%= @post_show.content%></p>
              <%= link_to "Back", :back, class: "btn btn-primary" %>
            </ul>

            <div class="pull-right">
              <div class="share_bottom">
                <div class="fb-like fb_iframe_widget" ><span style="vertical-align: bottom; width: 74px; height: 20px;"><iframe name="f4ca3721f21124" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" src="https://www.facebook.com/v2.9/plugins/like.php?action=like&amp;app_id=472431253105503&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0sTQzbapM8j.js%3Fversion%3D42%23cb%3Df141e8206fa6d24%26domain%3Ddidongthongminh.vn%26origin%3Dhttp%253A%252F%252Fdidongthongminh.vn%252Ff2672cfb4e1f8fc%26relation%3Dparent.parent&amp;container_width=45&amp;href=http%3A%2F%2Fdidongthongminh.vn%2Fsan-pham-moi-reviews%2F5-ly-do-xiaomi-mi4-3gb-chau-au-ba-dao-tam-gia-duoi-3-trieu-n3789.html&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;show_faces=true&amp;size=small" style="border: none; visibility: visible; width: 74px; height: 20px;" class=""></iframe></span></div>
                <div class="fb-share-button fb_iframe_widget" ><span style="vertical-align: bottom; width: 85px; height: 20px;"><iframe name="ffca4663654d2c" width="1000px" height="1000px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" src="https://www.facebook.com/v2.9/plugins/share_button.php?app_id=472431253105503&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2F0sTQzbapM8j.js%3Fversion%3D42%23cb%3Df225772eb33bc38%26domain%3Ddidongthongminh.vn%26origin%3Dhttp%253A%252F%252Fdidongthongminh.vn%252Ff2672cfb4e1f8fc%26relation%3Dparent.parent&amp;container_width=45&amp;href=http%3A%2F%2Fdidongthongminh.vn%2Fsan-pham-moi-reviews%2F5-ly-do-xiaomi-mi4-3gb-chau-au-ba-dao-tam-gia-duoi-3-trieu-n3789.html&amp;layout=button_count&amp;locale=vi_VN&amp;mobile_iframe=true&amp;sdk=joey&amp;size=small" style="border: none; visibility: visible; width: 85px; height: 20px;" class=""></iframe></span></div>
              </div>
            </div>

            <%= render 'posts/form' %>

            <div class="well">
              <div class="title_note">Lưu ý: Chỉ những tài khoản có biểu tượng ADMIN mới là đại diện của chúng tôi trả lời khách hàng.</div>
              <div class="count_comment">
                <h3 style="color: #FF8B00">Comment (<%= @post_show.post_comments.size%>)</h3>
              </div>
              <div class="contents">
                <div class="item_comment">
                  <% @post_show.post_comments.order("created_at DESC").each do |post_show|%>
                    <div class="comment">
                      <span class="name">
                      <% unless post_show.user.avatar.url.nil?%>
                        <%= image_tag(post_show.user.avatar.url, class: 'img-circle fa-3x', size: "45x45")%>
                      <% else%>
                        <%= image_tag(post_show.user.avatar.url, class: "fa fa-user-circle-o fa-3x")%>
                      <% end%>
                      <strong><%= post_show.user.name%></strong>
                      <% if post_show.user.admin?%>
                        <i id="admin">ADMIN</i>
                      <% end %>
                      </span>
                      <blockquote>
                        <div class="content"><%= post_show.content%></div>
                      <div class="end_page">
                        <ul class="action">
                          <div id="edit_comment_form">
                            <%= form_for :post_comment, url: post_comment_path(post_show.id), method: :put do |f| %>
                              <%= f.text_area :content, id:"content", name: "content", style: "height:50px"%>
                              <%= f.button "Update", value: "update", class: "edit_comment_btn"%>
                            <% end%>
                          </div>
                          <li>
                            <label class="glyphicon glyphicon-share" for="reply_content">Reply</label>
                          </li>
                          <li>
                            <%= link_to "Reply", new_post_post_comment_post_reply_path(@post_show.id, post_show.id), class: "glyphicon glyphicon-share"%>
                          </li>
                          <li>
                            <a href=""><span class="glyphicon glyphicon-thumbs-up"></span>Like</a>
                          </li>
                          <li class="edit">
                            <%= link_to 'Edit', edit_post_comment_path(post_show.id), class: "glyphicon glyphicon-edit", id: "edit_comment_btn"%>
                          </li>
                          <% if can? :update, @user%>
                            <li class="delete"><%= link_to 'Delete', post_comment_path(id: post_show.id), data: {confirm: "Are you sure?"}, method: :delete, class: "glyphicon glyphicon-trash"%></li>
                          <% end%>
                          <li class="time_comment">
                            <% if post_show.created_at > Time.now.beginning_of_day %>
                            <%="#{time_ago_in_words(post_show.created_at)} ago"%>
                            <% else %>
                            <%= l(post_show.created_at, format: '%B, %d %Y %H:%M:%S') %>
                            <% end %>
                          </li>

                        </ul>
                      </div>
                      </blockquote>

                      <div class="content_replies">
                        <blockquote>
                        <h4 style="color: #FF8B00">Replies (<%= post_show.post_replies.size%>)</h4>
                        <!-- % binding.pry %> -->
                        <% unless post_show.post_replies.empty?%>
                          <% post_show.post_replies.each do |post_reply|%>
                          <span class="name">
                            <% unless post_reply.user.avatar.url.nil?%>
                              <%= image_tag(post_reply.user.avatar.url, class: 'img-circle', size: "30x30")%>
                            <% else%>
                              <%= image_tag(post_reply.user.avatar.url, class: "fa fa-user-circle-o fa-2x")%>
                            <% end%>
                            <strong><%= post_reply.user.name%></strong>
                            <% if post_reply.user.admin?%>
                              <i id="admin">ADMIN</i>
                            <% end %>
                            </span>
                              <div class="content"><%= post_reply.content%></div>
                              <ul class="action">
                              <li>
                                <a href=""><span class="glyphicon glyphicon-thumbs-up"></span>Like</a>
                              </li>
                              <li class="edit">
                                <%= link_to 'Edit', "edit_post_reply_path(post_reply.id)", class: "glyphicon glyphicon-edit"%>
                              </li>
                              <% binding.pry%>
                              <% if @user == current_user%>
                              <li class="delete"><%= link_to 'Delete', post_post_comment_post_reply_path(@post_show.id, post_show.id, post_reply.id), data: {confirm: "Are you sure?"}, method: :delete, class: "glyphicon glyphicon-trash"%></li>
                                                                         
                              <% end%>
                              <li class="time_comment">
                                <% if post_reply.created_at > Time.now.beginning_of_day %>
                                <%="#{time_ago_in_words(post_reply.created_at)} ago"%>
                                <% else %>
                                <%= l(post_reply.created_at, format: '%B, %d %Y %H:%M:%S') %>
                                <% end %>
                              </li>
                            </ul>
                          <% end%>
                        <% end %>
                                <!-- % binding.pry%> -->
                                <span class="name">
                                  <% unless current_user.avatar.url.nil?%>
                                    <%= image_tag(current_user.avatar.url, class: 'img-circle', size: "30x30")%>
                                  <% else%>
                                    <%= image_tag(current_user.avatar.url, class: "fa fa-user-circle-o fa-2x")%>
                                  <% end%>
                                  <strong><%= current_user.name%></strong>
                                  <% if current_user.admin?%>
                                    <i id="admin">ADMIN</i>
                                  <% end %>
                                </span>
                                <div class="form_reply">
                                  <%= form_for :post_reply, url: post_post_comment_post_replies_path(@post_show.id, post_show.id), method: :post do |f| %>
                                    <%= f.text_area :content, id:"reply_content", placeholder: "Create your reply...", name: "content", style: ""%>
                                    <%= f.button "Reply", value: "reply", class: "btn btn-primary"%>
                                  <% end%>
                                </div>
                            </blockquote>
                      </div>
                      <hr>
                    </div>
                  <% end%>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
