<h1>Show User</h1>
<h4>Name: <%= link_to @user.name %></h4>
<h4>Email: <%= @user.email %></h4>
<h4>Birthday: <%= @user.birthday %></h4>
<h4>Gender: <%= @user.sex %></h4>
<h4>Avatar: <%= image_tag(@user.avatar.url,  :height => "150", :crop => :fill) if @user.avatar? %></h4>

<%= link_to "Back", :back, class: "btn btn-primary" %>
<!-- % if current_user.admin? %> -->
<% if can? :update, @user %>
  <%= link_to "Edit", edit_admin_user_path(@user.id), class: "btn btn-warning" %>
  <%= link_to "Delete", admin_user_path(@user.id), class: "btn btn-danger", method: :delete %>
<% end %>
