<!DOCTYPE html>
<html>
<head>
  <title>DienthoaiThongminh</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper_page">
  <!-- <header class="header clearfix phm pvs">
    <div class="layout">
      <div class="pull-left _2pi3">
          <p>
            <span class="title-icon">☎&nbsp;</span><strong>1900.6122</strong> -
            <span class="title-icon">☎&nbsp;</span><strong>Bảo Hành:</strong></span> <strong>1800.6501</strong> -
            <span class="title-icon">☎&nbsp;</span><strong>Khiếu Nại:</strong></span> <strong>1800.6502&nbsp;</strong>
          </p>
      </div>
      <div class="center _2pi3">
        <span class="slogan">
          <p>tận tình từ lần chạm đầu tiên</p>
        </span>
      </div>
    </div>
  </header>
  <div class="subnavigation">
    <div class="subnavigation__content layout">
      <div class="col__left col__table">
        <a href="#" title="didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc">
          <%= image_tag("/images/logo-ddtm.png", alt: "didongthongminh.vn - Hệ Thống Bán Lẻ Điện Thoại Di Động Uy Tín Toàn Quốc") %>
        </a>
      </div>
      <div class="col__right col__table">
        <div class="mainmenu mainmenu__icon">
          <div class="menu__item">
            <div class="iconbox"><i class="fa fa-life-ring"></i></div>
            <div class="contentbox">
              <h4>
                <a href="#" title="Hỏi đáp" rel="dofollow">
                  <span>Hỏi đáp</span>
                </a>
              </h4>
              <small>Mua hàng online</small>
            </div>
          </div>
          <div class="menu__item">
            <div class="iconbox"><i class="fa fa-refresh"></i></div>
            <div class="contentbox">
              <h4>
                <a href="#" title="Đổi trả hàng" rel="dofollow">
                  <span>Đổi trả hàng</span>
                </a>
              </h4>
              <small>lên tới 45 ngày</small>
            </div>
          </div>
          <div class="menu__item">
            <div class="iconbox"><i class="fa fa-truck"></i></div>
            <div class="contentbox">
              <h4>
                <a href="#" title="Miễn phí" rel="">
                  <span>Miễn phí</span>
                </a>
              </h4>
              <small>Vận chuyển toàn quốc</small>
        		</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navigation mbm">
    <div class="navigation-content layout clearfix">
      <div class="pull-left">
        <div class="nav-mainmenu-content">
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/san-pham/dien-thoai-3.html" title="Điện thoại" rel="dofollow">
              <span class="btn-info iconbox"><i class="fa fa-mobile"></i></span>&nbsp;Điện thoại
            </a>
          </li>
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/san-pham/may-tinh-bang-2.html" title="Máy Tính Bảng" rel="dofollow">
							<span class="btn-info iconbox"><i class="fa fa-tablet"></i></span>&nbsp;Máy Tính Bảng						</a>
          </li>
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/san-pham/phu-kien-7.html" title="Phụ kiện" rel="dofollow">
							<span class="btn-info iconbox"><i class="fa fa-headphones"></i></span>&nbsp;Phụ kiện						</a>
          </li>
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/san-pham/dich-vu-56.html" title="Dịch vụ" rel="">
							<span class="btn-info iconbox"><i class="fa fa-wrench"></i></span>&nbsp;Dịch vụ						</a>
          </li>
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/tra-gop.html" title="Trả góp" rel="">
							<span class="btn-info iconbox">
								<i class="fa fa-usd"></i>
							</span>&nbsp;
							Trả góp						</a>
          </li>
          <li class="level_1  dropdown">
            <a href="http://didongthongminh.vn/khuyen-mai.html" title="Khuyến mãi" rel="dofollow">
							<span class="btn-info iconbox"><i class="fa fa-sort-amount-desc"></i></span>&nbsp;Khuyến mãi						</a>
          </li>
        </div>
      </div>
    </div>
  </div> -->
  <div class="layout">
    <%= yield %>
  </div>
</div>

</body>
</html>
