<!DOCTYPE html>
<html>
  <head>
    <title>DienthoaiThongminh</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "shared/header", locals: { categories: @categories } %>
    <div class="wrapper_page">
      <div class="layout">
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
      </div>
      <%= render partial: "shared/footer" %>
    </div>
  </body>
</html>
